In [2]:
import numpy as np
import pandas as pd

In [88]:
sd = np.int64(np.random.uniform(0, 100, size=(100,5)))

In [89]:
sd.shape

(100, 5)

In [90]:
df = pd.DataFrame(sd, columns = ['Chemistry','Physics','Maths','Urdu','English'])

In [91]:
df.tail(10)

    Chemistry  Physics  Maths  Urdu  English
90         39       21     32    68       21
91         79       65     64    45        2
92          1       23     21    68       13
93         61       11     37    74       66
94         22       73     65    93       27
95         35       99     75    26       33
96         92       45     55     2       29
97         77       78     63    82       10
98         75       92     16    17       77
99         29       52     98    21       73

In [61]:
x = np.empty(16386, dtype="<U10")

        
def getColumnName(n):
    c = n
    result = ""
    a = ""
    while n > 0:
        index = (n - 1) % 26
        result += chr(index + ord('A'))
        n = (n - 1) // 26
        
    return result[::-1]  

for i in range(1,16386):
    x[i] = getColumnName(i)

In [63]:
x[16380:16385]

array(['XEZ', 'XFA', 'XFB', 'XFC', 'XFD'], dtype='<U10')

In [76]:
y = np.zeros((10,16386))

In [77]:
y.shape

(10, 16386)

In [79]:
excel_df = pd.DataFrame(y,columns=x)

In [80]:
excel_df

,,A,B,C,D,E,F,G,H,I,...,XEV,XEW,XEX,XEY,XEZ,XFA,XFB,XFC,XFD,XFE
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0